.menu{
    width: 100vw;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    background: rgb(0,0,0,0);
    padding: 0.5em;
    position: absolute;
    z-index: 10;
}

.menu:hover{
    background: hsla(34, 32%, 69%, 0.4);
}