@media screen and (min-width: 768px) and (max-width: 1023px) { 
    #cuadricula__grid{
        display: grid;
        grid-template-columns: 22% 22% 22% 22%;
        grid-template-rows: 33% 33% 33%;
        gap: 1.3rem;
        width: 100vw;
        justify-content: center;
        margin-bottom: 4vh;
         }
        
        .celda{
            margin-bottom: 7vh;
            width: 100%;
            height: 42vh;
        }
        
        .imagen__celda__pieza{
            width: 100%;
            height: 30vh;
        }

        #contenedor__iconos__imagen{
            width: 6vw;
        }
        
        .celda1{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        
        .celda2{
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        
        .celda3{
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }
        
        .celda4{
            grid-column: 4 / 5;
            grid-row: 1 / 2;
        }
        
        .celda5{
            display:block;
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        
        .celda6{
            display:block;
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        
        .celda7{
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }
        
        .celda8{
            grid-column: 4 / 5;
            grid-row: 2 / 3;
        }
        
        .celda9{
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        
        .celda10{
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }
        
        .celda11{
            grid-column: 3 / 4;
            grid-row: 3 / 4;
        }
        
        .celda12{
            grid-column: 4 / 5;
            grid-row: 3 / 4;
        }

        #texto__entrevista{
            width: 80vw;
            margin-bottom: 8vh;
        }

        .texto__tenido{
            width: 90vw;
            text-align: center;
        }
}