@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu {
    background: hsla(34, 32%, 69%, 0.4);
  }

  #imagen__logo {
    width: 70px;
    max-width: 70px;
    height: 80%;
  }

  #contenedor__botones {
    width: 55vw;
    max-width: 50vw;
  }

  #btn__login{
    width: 12vw;
    height: 60%;
    padding: 0.4rem;
    font-size:0.8rem;
}

.lbl__menu{
    margin: 0;
    width:30px;
    height:3vh;
    position: relative;
    cursor: pointer;
}

.lbl__menu #linea1, #linea2, #linea3{
width:25px;
height:4px;
}

  #titulo__banner {
    margin: 8vh 0 auto 2vw;
    font-size: 1.3rem;
  }

  #contenedor__parrafo__banner {
    width: 70vw;
    height: 25vh;
    margin: 6vh auto 10vh 10vw;
    position: relative;
  }

  #banner {
    width: 100vw;
    height: 30vh;
  }

  #parrafo__banner {
    width: 70vw;
    height: 25vh;
    font-size: 0.85rem;
  }

  .cuadricula {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: calc(100vh - 25%);
    margin: 1vh auto 2vh 1.5vw;
  }

  .imagen__celda {
    width: 46vw;
    height: 18vh;
  }

  .celda {
    line-height: 1.7rem;
    margin-bottom: 2vh;
  }

  .celda1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .celda2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .celda3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .celda4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .celda5,
  .celda6 {
    display: none;
  }

  #contenedor__footer {
    flex-direction: column;
    height: 80vh;
    padding: 2vh 3vw;
    flex-wrap: wrap;
  }

  #logo__footer {
    width: 56vw;
  }

  .contenedor__footer__links {
    width: 100vw;
    line-height: 1.8rem;
  }

  .contenedor__footer__form{
    width:100vw;
    flex-direction: column;
}

  #contenedor__textos {
    width: 100vw;
    text-align: center;
    margin-bottom:2vh;
  }

  #titulo__footer {
    width: 100vw;
    font-size: 1.4rem;
    margin-bottom: 2vh;
  }

  #texto__footer {
    font-size: 0.9rem;
  }

  #formulario__footer {
    width: 100vw;
    display: flex;
   flex-direction: column;
   align-items: center;

  }

  .campo {
    width: 70vw;
    max-width: 70vw;
    margin-bottom: 1vh;
  }

  .input__footer {
    height: 2.7vh;
  }

  #boton__formulario{
    width: 70vw;
    max-width: 70vw;
  }
}
