#contenedor__formulario__agregar-producto{
    width: 99vw;
    height: 55vh;
   }
   
   .menu{
      position: relative;
   }
   
   #formulario__agregar-producto{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 100%;
       height: 100%;
   }
   
   #titulo__formulario__agregar-producto{
       font-size: 2.2rem;
       font-family: (--noto);
       margin-bottom: 3vh;
   }
   
   .input__form__agregar-producto{
       width: 30%;
       height: 4vh;
       border: 1px solid rgba(0, 0, 0, 0.355);
       border-radius: 5px;
       text-align: center;
       margin-bottom: 5vh;
   }
   
   #btn__form__agregar-producto{
       width: 15vw;
       height: 5vh;
       font-family: (--noto);
       font-size: 1rem;
       border-radius: 5px;
       background: #2A7AE4 ;
       color: white;
       border: none;
   }

   #btn__form__login{
    width: 15vw;
    height: 5vh;
    font-family: (--noto);
    font-size: 1rem;
    border-radius: 5px;
}


#btn__menu-administrador{
    width: 7vw;
    max-width: 17.5vw;
    height: 80%;
    padding: 0.4rem;
    border-radius: 5px;
    text-decoration: none;
    font-family: (--noto);
    font-size:0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2A7AE4 ;
    color: white;
    border: none;
}